h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.navClass{
  display: flex;
  border: 1px solid;
  padding: 25px;
  justify-content: space-around;
  background-color: antiquewhite;
  height: 3rem;
}

.navClass a{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.navClass a:hover{
  color:red;
}

.bodyClass{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bodyClass h1{
  font-size: 5rem;
}