h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.mainContainer{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  border: 1px solid;
  padding: 50px;
  margin: 25px;
  border-radius: 5px;
  background-color: #218380;
}

.sideTableContainer{
  border: 1px solid #7c8085;
  padding: 30px;
  background-color:#7c8085;
  border-radius: 10px;
}

.sideTableContainer h1{
  text-align: center;
}

.sideTableContainer li{
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid;
  list-style: none;
  padding: 20px;
  border-radius: 7px;
  margin: 20px;
}

.detailsBox{
  width: 40%;
  background-color:#7c8085;
  border-radius: 7px;
  padding: 20px;
  border-collapse: collapse;
}

.detailsBox h1{
  text-align: center;
}

h1{
  color:rgb(19, 96, 158);
}

.detailCont{
  border: 1px solid #7c8085;
  border-radius: 10px;
  height: 100%;
}

.detailsBox li{
  /* list-style: none; */
  display: flex;
  list-style: none;
  border-bottom: 1px solid;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  border-collapse: collapse;

}